@media only screen and (max-width:
1310px){
    
    .header ul{
      font-size: 1vw;
      height: 5vh;
      margin-left: 100px;
    }
    .header button{
        font-size: 1vw;
    }
    .background_img .writen_text h1{
        font-size: 3vw;
    }
    .background_img .writen_text p{
        font-size: 1vw;
    }
    .service_card .card_row .card_col{
        width: 25%;
        height: 100%;
    }
   
    .my_service .service_row .service_col{
        width:60%;
        height: 60vh;
        margin-bottom: 60vh;
    }
    .my_service .service_row .service_col_2{
        width: 57%;
        margin:10px;
    }
    .image_view{
       
        margin-top:120vh;
    }
    .image_view .img_row .img_col{
        width: 50%;
        margin:15px;
    }
    .contact{
        margin-top:110vh;
    }
    .contact .contact_row .contact_col{
        width: 30%;
    }
    .contact .contact_row .contact_col h1{
        font-size: 3vh;
        margin-left: 20px;
        
    }
    .contact .contact_row .contact_col button{
        font-size: 1vh;
        width: 40%;
        margin-left: 250px;
    }
    .feedback{
        margin-bottom:10vh;
    }
    .feedback .feedback_row .feedback_col{
        width: 25%;
        overflow: hidden;
    }
    .footer img{
        margin-left: 450px;
    }
    .footer .text{
        font-size: 2vh;
        margin-right: 400px;
    }
}
@media only screen and (max-width:
950px){
    .header ul{
        width: 30%;
        font-size: 0.5vw;
        margin:0px;
        margin-top:20px;
        margin-left: 40px;
      }
      .header ul li{
        padding: 0px 5px;
        font-size: 1.5vw;
    }
    .header button{
        font-size: 1vw;
        margin-right: 0px;
    }
    .background_img .writen_text h1{
        font-size: 2vw;
    }
    .service_card{
        margin-bottom:20vh;
    }
    .contact{
        margin-top:110vh;
        height: 70vh;
    }
    .contact .contact_row .contact_col h1{
        font-size: 1.5vh;
        margin-left: 20px;
        
    }
    .contact .contact_row .contact_col button{
        font-size: 0.5vh;
        margin-left: 150px;
    }
    .footer img{
        margin-left: 350px;
    }
    .footer .text{
        font-size: 2vh;
        margin-right: 200px;
    }
    
}
@media only screen and (max-width:
897px){
    .paragrap_writen .row .col{
        width: 40%;
        height: 90%;
        overflow: hidden;
        margin-left: 200px;
    }
    .service_card h1{
        font-size: 3vh;
        margin-top:250px;
        margin-left: 300px;
        margin-bottom: 70px;
    }
    .feedback .feedback_row .feedback_col{
        width: 60%;
        height: 50vh;
        margin-left: 200px;
    }
    .registration{
        margin-top:100vh;
        height: 135vh;
    }
    .footer img{
        margin-left: 250px;
    }
    .footer .text{
        font-size: 2vh;
        margin-right: 50px;
    }
}
@media only screen and (max-width:
670px){
    .service_card h1{
        font-size: 2vh;
    }
    .service_card .card_row{
        
        height: 150vh;
    }
    .service_card .card_row .card_col{
        width: 50%;
        height: 30%;
        margin:10px;
        margin-left: 300px;
        overflow: hidden;
    }
    .my_service h1{
        margin-top:840px;
    
    }
    .my_service h1{
        font-size: 2vh;
        margin-left:150px;
    
    }
    .image_view{
       
        margin-top:240vh;
    }
    .image_view .img_row .img_col{
        width: 50%;
        margin:15px;
    }
    .footer img{
        margin-left: 150px;
    }
    .footer .text{
        font-size: 1vh;
        margin-right: 50px;
    }

  
}
@media only screen and (max-width:
516px){
    .header button{
        font-size: 0.5vw;
    }
    .feedback{
        margin-bottom:20vh;
    }
    .footer img{
        margin-left: 50px;
    }
    .registration .registration_row .registration_col{
        margin-bottom: 10vh;
    }
    .registration .registration_row .registration_col .message input{
        padding:10px;
    }
    

}
@media only screen and (max-width:
476px){
    .header ul{
        width: 20%;
        font-size: 0.5vw;
        margin:0px;
        margin-top:20px;
        margin-left: 10px;
      }
    .header button{
        font-size: 0.5vw;
        width: 5%;
    }
}
@media only screen and (max-width:
430px){
    .background_img .writen_text .buttongroup button{
        font-size:1vw;
        
    
    }
}